#Python cache
__pycache__/

# the original tdd package
#tddpy/tdd_origin/

# Visual Studio
.vs/
*.suo
*.user
*.ncb
Debug/
Release/
Inner/
build/
build_debug/
build_lib/
build_libtorch/

# the C++ ctdd package
ctdd.exp
ctdd.lib
ctdd.pdb
ctdd.pyd
ctdd.so

#experiments

#tddpy/experiments

#publish
/dist
*.egg-info